*{
    padding: 0;
    margin: 0;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:150px;
}
.box{
    /* border: solid black 1px; */
    height:80vh ;
    width: 50vw;
    display: flex;

}
.box1{
  
   background-color: #2874f0;
   color: white;
   height:80vh ;
   width: 50vw;
   padding-top:3.5em ;
   padding-left: 2em;
}
 h3{
 font-size: 25px;
}
.box2{
    padding-top:5em ;
    padding-left: 2em;
  /* background-color: rgb(74, 189, 189);   */
  /* margin: 20px 33px;  */
  height:80vh ;
    width: 50vw;
}
.otp-btn{
  background-color: #fb641b;  
 padding: 0.5em 5.5em;
  margin-left: 0.1em;
color: white;
font-size: medium;
border: none;
border-radius:2px ;
}
.box2 input{
border:none;
border-bottom: solid black 1px;
width: 93%;

}
.box2 input:hover {
/* border:none; */
border-bottom:2px solid  #2874f0;
/* background-color: green; */

}

.box2 label:hover {
/* border:none; */
/* border-bottom:2px solid  #2874f0; */
/* background-color: green; */
font-size: 5px;

}


